body{
    margin: 0 0 0 0;
    height: 100vh;
}
.main{
    margin: 0;
    display: flex;
    background-image: url("./Brown_textures_2048x1536.jpg");
    justify-content: center;
    align-items: center;
}
.div{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 94vh;
    text-align: center;
    font-size: 1.5vw;
    justify-content: space-around;
    background-color: rgba(59, 19, 0, 0.699);
    color: white;
}

.altura{
    width:20vw;
}

footer{
    background-color: black;
    color: white;
    margin: 0 0 0 0;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 6vh;
}

footer>p{
    margin: 0 0 0 0;
    padding: 2vh;
}

@media (max-width:700px){
    .div{
        font-size: 1.5vw;
    }
}